<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실시간 투표 서비스</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <section class="intro">
        <div class="intro-left">
            <h1>Welcome to Vote</h1>
        </div>
        <div class="intro-right">

            <h2>로그인</h2>
            <div class="input_wrap">
                <input type="text" class="inp" placeholder="이메일" id="username">
                <input type="password" class="inp" placeholder="비밀번호" id="password">
            </div>
            <button class="btn btn_pr" id="btn_login">로그인</button>
            <button class="btn btn_wh">회원가입</button>
            
            <a><div class="forget_pw">비밀번호를 잊으셨나요?</div></a>
        </div>
    </section>
    <script type="module" src="/js/login.js"></script>
</body>

</html>