.wrap {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 100px 20px;
}

.title {
    display: flex;
    position: absolute;
    top: 0;
    left: 20px;
    align-items: center;
}

.backBtn {
    background: url(../img/back.svg) no-repeat center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.voteWrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1100px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    min-width: 350px;
    box-shadow: 0 0 25px #e0e0e0;
}

.info {
    width: 100%;
    padding: 0 25px;
    text-align: center;
}

.info > p {
    font-size: 17px;
}

.btnBox {
    text-align: center;
}

.container > .btn {
    margin: 0 auto;
}

.voteOption {
    margin: 30px 0;
    /* display: none; */
}
.resultOption {
    margin: 30px 0;
}

.inner {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;

}



.optionRow {
    margin: 25px 0;
    height: 50px;
    font-size: 20px;
    border: 2px solid #e2e8f0;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
}

.inner > img {
    margin-right: 3px;
    z-index: 1;
    height: 25px;
    width: 25px;
    color: greenyellow;
}

.voteOption > .optionRow {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}


.optionRow:hover {
    border-color: #5E75FB;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.optionRow > input[type='radio'] {
    margin-right: 10px;
}

.optionTitle {
    height: 100%;
    line-height: 50px;
    overflow: hidden;
    cursor:inherit;
    z-index: 1;
}

.voteOption .optionTitle {
    width: 100%;
}

.optionVoteNum {
    height: 100%;
    line-height: 50px;
    margin-left: 12px;
    font-size: 15px;
    color: rgb(67, 67, 67);
    overflow: hidden;
    cursor:inherit;
    z-index: 1;
    position: relative;
}

.voters {
    position: absolute;
    display: none;
    top: 0;
    left: 100.5%;
    padding: 12px;
    z-index: 999;
    background: white;
    flex-direction: column;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.voters > span {
    font-size: 14px;
    margin-top: 5px;
}

.voters > p {
    font-size: 16px;
    margin: 0;
}

.optionRow:hover .voters {
    display: flex;
}

.chart {
    --percentage: 0%;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #7e90fd;
    border-radius: 10px;
    /* animation: fillChart 0.3s ease; */
}

@keyframes fillChart {
    from { 
        width: var(--prev-percentage);
    }
    to { 
        width: var(--percentage);
    }
}

