/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    padding-left: 90px;
    min-height: 100vh;
    background-color: #f8f9fa;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
html {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 공통 컨포넌트 */

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    height: 48px;
    width: 88px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    margin: 2px 0;
}

.btn_sm {
    height: 40px;
    width: 80px;
    font-size: 15px;
}

.btn_lg {
    height: 56px;
    width: 96px;
    font: 21px;
}

.btn_pr {
    background-color: #5E75FB;
    color: white;
    border: none;
}

.btn_wh {
    background-color:initial;
    color: #5E75FB;
    border: 1px solid #5E75FB;
}
.btn_gh {
    background-color:initial;
    color: #5E75FB;
    border: none;
}

.inp {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
}

.inp:focus-visible {
    outline: 1px solid #007BFF;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

input[type='radio']:checked {
    background-color: #5E75FB;
    border: 3px solid white; 
    box-shadow: 0 0 0 1.6px #5E75FB;
}