.wrap {
    display: flex;
}


/* 투표 리스트 */

.voteList {
    padding: 10px 20px;
    flex: 1;
    background-color: #eee;
}

.listBox {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.listItem {
    border: 1px solid #dfdfdf;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: calc((100% - (16px * 2)) / 3);
    min-width: 150px;
    box-sizing: border-box;
}

.listItem > h3, .listItem > p {
    width: 100%;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .listItem {
        width: calc((100% - 16px) / 2);
    }
}

@media screen and (max-width: 480px) {
    .listItem {
        width: 100%;
    }
}